<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="site-info">
    <!-- Left footer goes here -->
    Copyright © 2016-2024 Olivia Greenwell.<br>
    <a href="/disclaimer.html">Disclaimer, Disclosure & Privacy Policies</a> for Olivia Greenwell. Published by <a href="http://inspiringlifedesign.com/" target="_blank">InspiringLifeDesign.com</a>.
  </div><!-- .site-info -->
  <div class="social-links">
    <!-- Right footer goes here -->
  </div>
</footer><!-- #colophon -->
