<div id="secondary" class="widget-area" role="complementary">
  <aside class="widget widget_image">
    <div style="overflow:hidden;">
      <figure style="width: 400px" class="wp-caption aligncenter">
        <img src="/images/olivia-greenwell1.jpg" title="Olivia Greenwell" width="400" height="400" />
        <figcaption class="wp-caption-text">Olivia and her little dog Sammy</figcaption>
      </figure>
    </div>
  </aside>
  <aside class="widget widget_image">
    <h1 class="widget-title">Olivia's Books</h1>
    <div style="overflow:hidden;">
      <a href="https://www.amazon.com/So-Youve-Retired-Practical-Retirement/dp/153540809X" target="_blank">
        <img src="/images/3d-book-for-kindle.png" title="So You've Retired - What's Next?" class="aligncenter" width="200" height="400" />
      </a>

      <a href="https://www.amazon.com/gp/product/154314649X" target="_blank">
        <img src="/images/HTR_3D_book.png" title="How To Retire" class="aligncenter" width="200" height="400" />
      </a>

    </div>
  </aside>
</div>
<!-- #secondary -->
